<div class="wrapper">
  <div class="title">
    <a routerLink="/"><span>JpgShop</span></a>
  </div>
  <div class="nav">
    <a *ngIf="!isLoggedIn" routerLinkActive="active" routerLink="/register"><span>Register</span></a>
    <a *ngIf="!isLoggedIn" routerLinkActive="active" routerLink="/login"><span>Login</span></a>
  </div>
</div>


<div class="login">
  <p>Log into your account</p>
  <form>
    <div>
      <label for="rEmail">Email</label>
      <input id="rEmail" placeholder="Email" #email>
    </div>
    <div>
      <label for="rPassword">Password</label>
      <input type="password" id="rPassword" placeholder="Password" #password>
    </div>
  </form>

  <button type="button" class="btn btn-primary" (click)="login(email.value, password.value)">Confirm</button>
</div>
