<div class="wrapper">
  <div class="title">
    <a routerLink="/"><span>JpgShop</span></a>
  </div>
  <div class="nav">
    <a *ngIf="isAdmin" routerLinkActive="active" routerLink="/admin"><span>Admin</span></a>
    <a *ngIf="isLoggedIn" routerLinkActive="active" routerLink="/cart"><span>Cart</span></a>
    <a *ngIf="isLoggedIn" routerLinkActive="active" (click)="authService.logout()" routerLink="/login"><span>Logout</span></a>
  </div>
</div>

<body>
<div class="product-list">
  <div *ngFor="let product of cartContent; let i = index">
    <div class="card">
      <p class="name">{{product.name}}</p>
      <p class="price">{{product.price | currency :'EUR':'symbol':'1.2'}}</p>

      <button class="btn btn-md btn-primary" (click)="deleteCartItem(i)">Delete product</button>
    </div>
  </div>
</div>

<div *ngIf="!isCartEmpty" class="pay">
  <p>Total amount to pay: {{amountToPay | currency :'EUR':'symbol':'1.2'}}</p>
  <button class="btn btn-md btn-primary" (click)="proceedToCheckout(amountToPay)">Proceed to checkout</button>
</div>

<div *ngIf="isCartEmpty" class="pay">
  <p>Empty cart.</p>
</div>

</body>
