.text {
  font-family: sans-serif;
}

ul {
  list-style: none;
  width: 100%;
  padding: 0;
  overflow: auto;
  margin: 0 auto
}

ul li {
  float: left;
}

.toast-center {
  margin-top: 10%;
}

.btn {
  margin-left: 5px;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.name {
  margin-left: 5px;
  font-size: 1.1em;
}

.price {
  margin-left: 5px;
  font-size: 1.4em;
}

.pictureUrl {
  float: left;
  margin: 5px;
  width: 200px;
  height: 200px;
}
